body {
    background-color: bisque;
}

#jsTest {
    font-size: 50px;
}

.bigButton:hover {
    background-color:aquamarine;
    color: white;
    
}
.bigButton {
    font-size: 25px;
    background-color: turquoise;
    border: none;
    border-radius: 5px;
    color: #333;
    padding: 15px 32px;
}